.navbar {
  background-color: #e5dfd2;
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  padding: 0 20px;
  height: 50px; /* Set the height of the navbar */
  position: fixed; /* Make the navbar fixed at the top */
  width: 100%; /* Ensure the navbar stretches across the full width */
  top: 0; /* Position the navbar at the top */
  z-index: 999; /* Ensure the navbar is above other content */
  border-bottom: 2px solid #ffffff; /* Add a white border at the bottom */
}


body {
  padding-top: 50px; /* Adjust this value based on the height of your navbar */
}
.logo {
  margin-right: auto; /* Pushes everything else to the right */
  margin-left: -20px; /* Creates a gap on the left side */
}

.logo img {
  max-height: 50px; /* Ensures the logo fits neatly within the navbar */
  height: 50px; /* Ensures the height matches the navbar */
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: 20px; /* If you need space between the logo and nav links */
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a,
.navbar-text {
  color: #725d4c;
  text-decoration: none;
  font-size: 18px; /* Set to match the left side font size */
  font-family: "Times New Roman", Times, serif; /* Ensure font family matches */
}

.nav-links a:hover {
  color: #725d4c;
}

.navbar-nav {
  display: flex; /* Align items in a row */
  align-items: center; /* Center-align vertically */
  margin-right: 20px; /* Adjust this as needed */
}

.nav-link {
  color: #725d4c; /* Bright white color */
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  align-items: center;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #725d4c; /* Slightly off-white for hover/focus states */
}


.navbar-nav .nav-item .btn-outline-dark {
  color: #725d4c; /* Text color */
  font-size: 18px; /* Font size */
  font-family: "Times New Roman", Times, serif; /* Font family */
  border-color: #ffffff; /* White border color */
}

.navbar-nav .nav-item .btn-outline-dark:hover {
  color: #ffffff; /* Text color on hover */
  background-color: #ffffff; /* Background color on hover */
}
