.navbar {
  background-color: #e5dfd2;
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  padding: 0 20px;
  height: 50px; /* Set the height of the navbar */
}

.logo {
  margin-right: auto; /* Pushes everything else to the right */
  margin-left: -20px; /* Creates a gap on the left side */
}

.logo img {
  max-height: 50px; /* Ensures the logo fits neatly within the navbar */
  height: 50px; /* Ensures the height matches the navbar */
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: 20px; /* If you need space between the logo and nav links */
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #725d4c;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #725d4c;
}

.navbar-nav .nav-link {
  color: #725d4c; /* Bright white color */
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

/* Change the color for the hover state as well */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #725d4c; /* Slightly off-white for hover/focus states */
}

/* If you have any other text you want to make bright white, add a rule for it */
.navbar-text {
  color: #725d4c; /* Bright white color */

}
