.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Set the position to relative for pseudo-element positioning */
}

/* Create a pseudo-element for the background image */
.centered-container::before {
    content: '';
    position: absolute; /* Position it absolutely to cover the entire container */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/public/SignIn.jpg') no-repeat center center;
    background-size: cover;
    filter: brightness(68%); /* Apply filter here */
    z-index: -1; /* Place it behind the content */
}

.signIn-container {
    background-color: rgba(255, 255, 255, 0.9); /* Maintain the opacity */
    border-radius: 10px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative; /* Ensure it's positioned above the pseudo-element */
    z-index: 2; /* Higher z-index than the pseudo-element */
    font-family: "Times New Roman", Times, serif;
}


/* Styles for the form box */
.form-box {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 50vw;
    max-width: 400px; /* Maximum width with padding for larger screens */
    box-sizing: border-box; /* Includes padding and border in width */
}

/* Style for form elements */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Times New Roman", Times, serif;
}

.sign-in-button {
    padding: 10px;
    background-color: #006400; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px; /* Added margin-top for spacing from the last input field */
}

.sign-in-button:hover {
    background-color: #388E3C; 
}


/* Style for error messages */
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px; /* Spacing before the first form element */
}
